
	              <!-- nav -->

              <nav>
                
                <button class="reverse btn">
                  <i class="icon-resize-vertical"></i> Reverse
                </button>
                <p class="pull-right">Total : <strong><i id ="video-count"></i> </strong> videos</p>
                <hr/>
              </nav>     
              <!-- /nav -->
                
              <ul class="thumbnails youtube-widget">

              </ul>
              <div id="loader" class="" style="text-align:center" >
                <img src="img/preloader.gif" alt="">
              </div> 


