              <!-- nav -->
              <nav>
                <button class="reverse btn">
                  <i class="icon-resize-vertical"></i> Reverse
                </button>
                <h4 class="pull-right"><span id="video-count">...</span> videos</h4>
                <hr/>
              </nav>     
              <!-- /nav -->
              <ul data-liffect="fadeIn" class="thumbnails youtube-widget">
              </ul>
              
              <div id="loader" class="" style="text-align:center" >
                <img src="img/preloader.gif" alt="">
                 <h2>Yikes!</h2>
            <p><em>Please wait videos are loading up...</em> </p>
              </div> 
              <div id="complete" class="hide" style="text-align:center" >
                 <h2>Yikes!</h2>
            <p><em>Hmm.. It seems all the videos have been loaded.</em> </p>
              </div> 


